[Unit]
Description=Antenna Signal Timer - 4x Daily
Requires=antenna-signal.service

[Timer]
OnCalendar=08:00
OnCalendar=12:00
OnCalendar=16:00
OnCalendar=20:00
Unit=antenna-signal.service

[Install]
WantedBy=timers.target
