[Unit]
Description=Antenna News Poster
After=network.target

[Service]
Type=oneshot
ExecStart=/home/c0smic/.antenna/scripts/news-poster.sh
User=c0smic

[Install]
WantedBy=multi-user.target
