[Unit]
Description=Antenna News Poster Timer - Every 6 hours
Requires=antenna-news.service

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
Unit=antenna-news.service

[Install]
WantedBy=timers.target
