[Unit]
Description=Antenna Heartbeat Timer
Requires=antenna-heartbeat.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Unit=antenna-heartbeat.service

[Install]
WantedBy=timers.target
