[Unit]
Description=Run site monitor every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=site-monitor.service

[Install]
WantedBy=timers.target
