[Unit]
Description=Antenna Site Content Timer - Runs every hour

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
